[package]
name = "ma_blocks"
version = "0.1.0"
edition = "2021"

[dependencies]
# GUI Framework
eframe = "0.29"
egui = "0.29"
gif = "0.14"
image = { version = "0.25.9", features = ["jpeg", "png", "avif", "default", "avif-native"] }
libavif = "0.14.0"
libavif-sys = "0.17.0"

# File Dialog
rfd = "0.15"

# Utilities
uuid = { version = "1.10", features = ["v4", "fast-rng"] } 
